@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

/*=============== BASE ===============*/

* {
    box-sizing: border-box;
    margin: 0;
}

html body {
    font-family: "Poppins", sans-serif;
    color: #082E13;
}

.hr-style {
    margin: 0;
    background: #2F673F;
}

/*=============== NAVBAR ===============*/

nav .navbar-nav li a {
    font-size: 18px;
    color: #082E13 !important;
}

nav .navbar-nav li a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    text-decoration-color: #1D5C2E;
}

.navbar-light .navbar-toggler {
    border-color: #fff;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.vr-style {
    color: #2F673F;
    margin-top: 14px;
    height: 30px;
}

.signout-button {
    width: 140px;
    background: #23BB86;
    color: #fff;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 8px 0px;
}

/*=============== DATATABLE ===============*/

table.dataTable {
    box-shadow: rgba(79, 172, 35, 0.67) 0px 4px 8px;
    border-radius: 4px;
    border: none !important;
}

.dataTables_wrapper>div {
    margin: 25px;
}

th,
td {
    padding-left: 10px !important;
    border: none !important;
}

.thead-style {
    background-color: #23BB86;
    color: #fff;
}

table tbody tr:nth-child(2n+1) {
    background-color: #f8f7f5 !important;
}

/* Action Button */
.details-button {
    width: 100px;
    background: #23BB86;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 5px 0px;
}

/* Pagination */
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: none !important;
    background-color: #C7F8C9 !important;
    border: none;
    color: #082E13 !important;
}

.paginate_button.current:hover {
    background: none !important;
    background-color: #C7F8C9 !important;
    background-color: none !important;
    border: none;
    color: #082E13 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #082E13 !important;
    background: none !important;
    border: none;
    background-color: #C7F8C9 !important;
}

/*=============== FOOTER ===============*/

.language-footer {
    text-decoration: none;
    color: #082E13;
}

.language-footer:hover {
    color: #082E13;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    text-decoration-color: #1D5C2E;
}

/*=============== Media screen for mobile devices ===============*/

@media only screen and (max-width: 600px) {

    /* Navbar */
    .signout-button {
        width: 120px;
        padding: 6px 0px;
    }
}